html {
    background: white;
}

@supports (font: -apple-system-body) {
    html {
        font: -apple-system-body !important;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: #222;
    }
}

body {
    margin: 20px;
    width: 100%;
    background: white;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
    }
}

@media (prefers-color-scheme: dark) {
    label {
        color: white;
    }
}

label {
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

@media (prefers-color-scheme: dark) {
    legend {
        color: white;
        background-color: white;
        background: #222;
    }
}

legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
}

@media (prefers-color-scheme: dark) {
    h2 {
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    p {
        color: white;
    }
}

p {
    margin-top: 0px;
}

canvas {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background: #ffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-device-width: 600px) {
/*
    form {
        width: 400px;
    }
*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-device-width: 600px) {
/*
    form {
        width: 400px;
    }
*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-device-width: 768px) {
/*
    form {
        width: 800px;
    }
*/
}

form {
    width: 50%;
    padding: 0px 30px;
    margin: auto;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

input:focus {
    background: #eaeaea;
}

input,
textarea {
    width: 249px;
    height: 20px;
}

textarea {
    height: 100px;
}

select {
    width: 254px;
}

input[type=radio] {
    width: 15px;
}

input[type=button] {
    background-color: #008CBA;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 16px;
}

footer {
    margin-top: 40px;
    background: white;
}


@media (prefers-color-scheme: dark) {
    footer {
        background: #222;
    }
}

.text-center {
    text-align: center !important;
}

small {
    font-size: xx-small;
    color: black;
}

@media (prefers-color-scheme: dark) {
    small {
        font-size: xx-small;
        color: white;
    }
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-primary {
    text-decoration-color: blue;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}